[2020-04-15 18:17] prestonaustin opened #1 "Dedicated Domain For Sustain Care"
`Issue ID:    001
    Issue Name:    Dedicated Domain for Sustain Care Project
    Description:    We need a dedicated domain at dnsimple with SSL support mapped to basic hosting services.
    Tags:    infrastructure
`

was in issues doc on google: https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.2fwzybnibav

[2020-04-15 18:32] prestonaustin opened #2 "Payment Interface"
[code]

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.jvm988spo7ng

[2020-04-15 18:33] prestonaustin opened #3 "Meal Demand Form"
`
    Issue ID:    003
    Issue Name:    Meal Demand Form
    Description:    We need a meal demand form at which potential demand can be resolved into a clearly defined row in a spreadsheet whose columns are the information we would need to reach back out and coordinate specific meal orders
    Tags:    infrastructure, demand

`
https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraa

[2020-04-15 18:34] prestonaustin opened #4 "Meal Supply Form"
`
    Issue ID:    004
    Issue Name:    Meal Supply Form
    Description:    We need a meal supply form at which potential supply can be resolved into a clearly defined row in a spreadsheet whose columns are the information we would need to reach back out and coordinate specific meal orders
    Tags:    infrastructure, supply

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJra

[2020-04-15 18:36] prestonaustin opened #5 "Logo for Sustain Care Project"
`
    Issue ID:    005
    Issue Name:    Logo for Sustain Care Project
    Description:    A logo more fully resolved than the one on slack for use on web pages and in emails
    Tags:    promotion

`
https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.cq0jrhq5w3as

[2020-04-15 18:37] prestonaustin opened #6 "Text for Project Landing Page"
`
    Issue ID:    006
    Issue Name:    Text for Project Landing Page
    Description:    Text for a landing page describing the project itself in its goals, including answers to questions about what the scope this is, what it is not, links to related things that people might care about, reasons why we should be trusted, organizational affiliations that matter, and the names and contact means fo

[2020-04-15 18:38] prestonaustin opened #7 "Text for Top of Meal Demand Form"
`
    Issue ID:    007
    Issue Name:    Text for Top of Meal Demand Form
    Description:    Text for the top of the meal demand registration form explaining who it is form and what alternatives exist if they are not for you
    Tags:    infrastructure, demand

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.gvqfnocpfemf

[2020-04-15 18:40] prestonaustin opened #8 "Text for Top of Meal Supply Form"
`
    Issue ID:    008
    Issue Name:    Text for Top of Meal Supply Form
    Description:    Text for the top of the meal supply registration form explaining who it is form and what alternatives exist if they are not for you
    Tags:    infrastructure, supply

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.frex9ylgs837

[2020-04-15 18:41] prestonaustin opened #9 "Demand Thank You Page"
`
    Issue ID:    009
    Issue Name:    Demand Thank You Page
    Description:    Thank you page for users of the meal demand form to land on after filling it out
    Tags:    promotion, demand

`
https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.w65ga14m1cgz

[2020-04-15 18:43] prestonaustin opened #10 "Supply Thank You Page"
`
    Issue ID:    010
    Issue Name:    Supply Thank You Page
    Description:    Thank you page for users of the meal supply form to land on after filling it out
    Tags:    promotion, supply

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.frex9ylgs837

[2020-04-15 18:44] prestonaustin opened #11 "Project Donation Form"
`
    Issue ID:    011
    Issue Name:    Project Donation Form
    Description:    A form where people who are interested in donating support for the project itself can give us information
    Tags:    funding, fiscal

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.88lj42isn871

[2020-04-15 18:45] prestonaustin opened #12 "Project Email Address"
`
    Issue ID:    012
    Issue Name:    Project Email Address
    Description:    An email address entirely dedicated to the project that is not the email of any individual, and that can if needed get back into a help desk system if the volume of incoming email increases over time and it becomes problematic to handle it as simple email
    Tags:    operations, documentation

`

https://docs.goog

[2020-04-15 18:46] prestonaustin opened #13 "Canned FAQ Email Response"
`
    Issue ID:    013
    Issue Name:    Canned FAQ Email Response
    Description:    A canned FAQ email response that we continue to refine over time that can be sent back in response to any inquiry that helps people connect to the right part of the above structure of forms
    Tags:    promotion

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.

[2020-04-15 18:47] prestonaustin opened #14 "Media Relations Plan (was 'owner')"
`
    Issue ID:    014
    Issue Name:    Media Relations Owner
    Description:    An owner for press and media outreach responsible for developing media facing promotion
    Tags:    promotion

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.5bnc5igph2i1

[2020-04-15 18:49] prestonaustin opened #15 "Compile List of Food Worker Concerns"
`
    Issue ID:    015
    Issue Name:    Compile List of Food Worker Concerns
    Description:    Compile list of food worker concerns
    Tags:    supply, safety

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.tva9ulbyjur5

[2020-04-15 18:50] prestonaustin opened #16 "Compile Official Guidance on COVID Food Service Safety"
`
    Issue ID:    016
    Issue Name:    Compile Official Guidance on COVID Food Service Safety
    Description:    Compile official guidance on food service safety precautions related to COVID-19
    Tags:    supply, safety

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.4tagp39kpfrw

[2020-04-15 19:01] prestonaustin opened #17 "Identify Food Worker Concerns Not Addressed by Safety Guidance"
`
    Issue ID:    017
    Issue Name:    Identify Food Worker Concerns Not Addressed by Safety Guidance
    Description:    Identify food worker concerns not addressed by safety guidance
    Tags:    supply, safety

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.ql6hgu8zer1u

[2020-04-15 19:03] prestonaustin opened #18 "Sponsor landing page over at foodworks /sustain-care/ slug"
`
    Issue ID:    018
    Issue Name:    Sponsor landing page over at foodworks /sustain-care/ slug
    Description:    Use this embed code and write up a quick page that we can use as an "all-purposes" place to send people donating money to support the project itself, the food deliveries, or other aspects of this <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" targ

[2020-04-15 19:05] prestonaustin opened #19 "Participating providers (restaurants, farmers, others)"
`
    Issue ID:    019
    Issue Name:    Participating providers (restaurants, farmers, others)
    Description:    Networking with those who engage in providing food to frontline workers to get them involved in the initiative as suppliers.
    Tags:    supply

`

This issue definition needs clarification @ramlyed, whats the deliverable here? Labeling it wontfix, we should clarify it and relabel

[2020-04-15 19:08] prestonaustin opened #20 "Participating providers (restaurants, farmers, others) - promotion"
`
    Issue ID:    020
    Issue Name:    Participating providers (restaurants, farmers, others)
    Description:    Promoting those who engage in providing food to frontline workers. List of names/logos as appropriate for restaurants, farmers, other.
    Tags:    supply, promotion

`

See #19 this needs clarification as to its deliverable, then re-labeling and assignment in here, @ramlyed - label

[2020-04-15 19:11] prestonaustin opened #21 "Media relations - networking (NB: connected to #14)"
`
    Issue ID:    021
    Issue Name:    Media relations - networking (NB: connected to Issue 014 #14)
    Description:    Leveraging existing/building new connections with local media to promote initiative. Begin in earnest once we have a website to point people/pilot program in place.
    Tags:    promotion

`

@ramlyed I think we want to avoid issues that are _ongoing work_ and turn them into

[2020-04-15 19:13] mfeif commented on #19
I think the intent might have been to connect with those who are already doing, so if we build any centralized efficiencies, they can be added in.

[2020-04-15 19:13] prestonaustin opened #22 "Sustain-care.org Press Release (old 022)"
`
    Issue ID:    022
    Issue Name:    Write a Press Release
    Description:
    Tags:    promotion

`

https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4A/edit#heading=h.yvhskb92j1e1

[2020-04-15 19:14] ramlyed commented on #21
Yes agreed. I'll think of what instructions are needed in Documentation to prevent such issues of being created

[2020-04-15 19:16] ramlyed commented on #20
@prestonaustin possible to add Deliverable as a structured data element for each issue?

[2020-04-15 19:17] prestonaustin opened #23 "Financial support plan"
`
    Issue ID:    023
    Issue Name:    Financial support
    Description:    Leverage the initial $5,000 that [FoodWorks](https://www.foodworksmadison.org/) has secured to bring in additional financial support
    Tags:    funding, fiscal

`

I think @ramlyed @prestonaustin @mfeif and Don probably should discuss what the next real actions here are assuming we put together the basic pages and ca

[2020-04-15 20:55] mfeif commented on #5
Is this "wontfix" because we're going logo-less, or...?

[2020-04-15 20:58] mfeif commented on #12
I can set this up; I do this for lots of things. I'd likely do a "sustaincare.madison@gmail.com" and use filters/labels to route and re-route to people. We can futher have @sustain-care.org aliases for "info@" and so on that can get auto-tagged and auto-forwarded as necessary.

I do this for FoodWorks, I set this up for Starting Block, Slow Food, several other things. I can easily tackle this if y

[2020-04-15 21:00] mfeif opened #24 "Web page template(s)"
Make responsive, standards-oriented simple html files that we can dump @prestonaustin's work into as the API and text content comes together.

I can document the tools and build process(es) as necessary. I'll use the *same* template for the take-money landing page on the FoodWorks domain.

[2020-04-15 21:00] ramlyed commented on #12
Already done @mfeif . See Google Doc comments

[2020-04-15 21:12] mfeif commented on #12
Hmm. I'm getting confused in the carry-over then. If this is done why did we open a new issue? Should I wait a while for things to settle before I start looking at these?

[2020-04-15 21:12] #12 closed

[2020-04-15 21:34] ramlyed commented on #12
Yes, I think Preston's intent was to migrate the full record here and we're still migrating some of the statuses

[2020-04-16 22:32] mfeif commented on #24
Note here for myself: include easy links for viewers to "socially prove" that this is real. Links to EIN, tax-id status, etc.

[2020-04-18 14:58] ramlyed commented on #1
@prestonaustin established the domain under Rabble's dmsimple.com account, and he and he has administrative rights to its zone file there to create and update records

[2020-04-18 14:58] #1 closed

[2020-04-18 15:10] ramlyed commented on #2
Edmond Ramly 10:03 PM Apr 6
Payment interface
+matt.feifarek@gmail.com
Assigned to Matt Feifarek

Matt Feifarek
Can currently accept paypal. Venmo not possible without another mobile phone number (they're too smart for my voice-mail only phone number).

Looking into a wider platform for other kinds of payment accepting.

4:48 PM Apr 7
Matt Feifarek Marked as done

[2020-04-18 15:13] #2 closed

[2020-04-18 15:17] ramlyed commented on #4
for technical implementation
Reassigned to Preston Austin

[2020-04-18 15:18] ramlyed commented on #3
for technical implementation
Reassigned to Preston Austin

[2020-04-18 15:19] ramlyed commented on #5
I don't know @mfeif. @prestonaustin what was your intent?

[2020-04-18 15:20] ramlyed commented on #5
Migrating the comments on this for reference:

Matt Feifarek
11:28 AM Apr 7
Edmond, your friend Dan was posting on Facebook that he was offering design work for people who were working on covid stuff. Maybe hit him up? I can supply him with FWmsn stuff if we want to tie them together. (I don't need that to be the case)

Tomorrow I'll run with the Doctacolar logo I created until we have something n

[2020-04-18 15:22] ramlyed commented on #6
Migrating comments for reference:

Edmond Ramly
10:32 PM Apr 6
+edmondramly@gmail.com
Assigned to you

Edmond Ramly
2:33 PM Apr 8
Drafted some mission language for discussion and consensus at today's meeting, in the Sustain Care - What & Why document

Preston Austin
12:43 PM Apr 15
In progress by +matta.claudia@gmail.com and +dldaniel@wisc.edu in SC - Website Pages

[2020-04-18 15:23] ramlyed commented on #7
Migrating comments for reference:

Edmond Ramly
10:33 PM Apr 6
+edmondramly@gmail.com

Preston Austin
12:47 PM Apr 15
Depends on Issue 006 https://drive.google.com/drive/folders/16gtvspp4mosVmSvhPr9yOer4PCG7A7JV, in progress by +matta.claudia@gmail.com +dldaniel@wisc.edu

[2020-04-18 15:24] ramlyed commented on #8
Migrating comments for reference:

Edmond Ramly
10:35 PM Apr 6
+edmondramly@gmail.com

Edmond Ramly
12:48 PM Apr 15
Depends on Issue 006 https://drive.google.com/drive/folders/16gtvspp4mosVmSvhPr9yOer4PCG7A7JV, in progress by +matta.claudia@gmail.com +dldaniel@wisc.edu
Reassigned to Claudia Matta

[2020-04-18 15:25] ramlyed commented on #9
Migrating comments for reference:

Edmond Ramly
10:34 PM Apr 6
+edmondramly@gmail.com

Preston Austin
12:48 PM Apr 15
Depends on Issue 006 https://drive.google.com/drive/folders/16gtvspp4mosVmSvhPr9yOer4PCG7A7JV, in progress by +matta.claudia@gmail.com +dldaniel@wisc.edu
Reassigned to Claudia Matta

[2020-04-18 15:26] ramlyed commented on #10
Migrating comments for reference:

Edmond Ramly
10:34 PM Apr 6
+edmondramly@gmail.com

Edmond Ramly
12:48 PM Apr 15
Depends on Issue 006 https://drive.google.com/drive/folders/16gtvspp4mosVmSvhPr9yOer4PCG7A7JV, in progress by +matta.claudia@gmail.com +dldaniel@wisc.edu

Edmond Ramly
12:48 PM Apr 15
+matta.claudia@gmail.com
Reassigned to Claudia Matta

[2020-04-18 15:27] ramlyed commented on #11
Migrating comments for reference:

Edmond Ramly
10:08 PM Apr 6
+matt.feifarek@gmail.com +preston.h.austin@gmail.com
Assigned to Matt Feifarek

Preston Austin
1:03 PM Apr 15
I think +preston.h.austin@gmail.com should take this into the sustain-care page that embeds the payment capacity Matt sets up at Foodworks (item 18: https://docs.google.com/document/d/1h9k5oVXKIwElhNLgJhI4uWFOQJjJraaZnlINaiz-n4

[2020-04-18 15:28] ramlyed commented on #13
Depends on #3, #4, #6

[2020-04-21 22:50] ramlyed commented on #6
@mfeif  is going to bring the whole website closer to concrete so we can all react

[2020-04-21 22:53] ramlyed opened #25 "Reach out to new DATCP person"
Find out opportunities for collaboration

[2020-04-21 22:53] ramlyed commented on #25
Assign to Don and/or Will when on GitHub

[2020-04-21 22:53] mfeif commented on #25
Here is more info about DATCP: https://datcp.wi.gov/Pages/Homepage.aspx

[2020-04-21 22:54] ramlyed commented on #25
@cmatta2 will coordinate for now

[2020-04-21 22:57] ramlyed opened #26 "Create Onboarding Process Plan"
Talking points about the project
Gathering information about people, their expertise and connections that they bring
Figuring out timelines/milestones of the project at which we will want to bring them in

[2020-04-21 22:57] ramlyed commented on #26
@cmatta2 to assign to Don

[2020-04-21 23:00] ramlyed opened #27 "Set up GitHub Projects Functionality"
Set up Kanban boards to articulate dependencies and prioritization among issues and milestones

[2020-04-21 23:01] ramlyed commented on #27
@cmatta2 assign to Will who will look into it then assign it or close it as needed

[2020-04-23 21:37] mfeif opened #28 "Make Instagram account for SC"
Just because lots of people will find us this way. It'll help sharing the word and so on.

I know I said that we can wrap some of this social media stuff into FoodWorks' existing infrastructure, and I think we can for Facebook... but for Insta, I think it'd be simpler/better to just have it's own. Mostly about clarity, but:

1. Ig is quicker/lighter communication. It's hard to read longer stuff th

[2020-04-23 21:50] mfeif commented on #28
Ok, it's made.

I will need:
- [ ] something suitable for a profile image (logo) @ramlyed
- [ ] a primary email contact to put into the profile @prestonaustin
- [ ] succinct one-liner that describes what we are @ramlyed

We can also think of a getting-started strategy. The way we do this is by following people and talking about stuff. We can simply follow the people who we are promoting for starte

[2020-04-26 19:25] mfeif commented on #24
Update: have reasonably complete templates and build process now. I'll be documenting it before I close this issue.

[2020-04-28 00:25] cmatta2 commented on #26
Assigned to Don

[2020-04-28 00:25] cmatta2 commented on #27
Assigned to @wrolson22
Set up Kanban boards to articulate dependencies and prioritization among issues and milestones

[2020-04-28 00:26] cmatta2 commented on #25
Assigned to @wrolson22  and @DonG-D-MSN

[2020-04-28 00:27] cmatta2 commented on #24
@DonG-D-MSN  updated the About Page template

[2020-04-28 19:20] mfeif commented on #17
@jchuran Can you give a look-see at http://mattfeifarek.com:8001/safety/ and see if we're getting somewhere?

[2020-04-28 20:13] jchuran commented on #17
@mfeif  I like it. I am a little hesitant of using the serious eats article because it doesn't feel official and is not from a regulatory source.

[2020-04-28 21:53] wrolson22 commented on #25
I have connected April and Don. I am not sure if they have connected via the phone yet.

[2020-04-28 22:39] mfeif opened #29 "Draft Privacy Policy for website"

[2020-04-28 22:41] mfeif opened #30 "Gather requirements/vision for "news" (blog) type feature for site"

[2020-04-28 23:28] cmatta2 opened #31 "Draft "Who we Are" Paragraph"
beginning idea: Coalition of different expertise that join together that try to solve this problem. We have a lot of “star power”

[2020-04-28 23:29] cmatta2 opened #32 "Draft "What comes next" Paragraph"

[2020-04-28 23:29] cmatta2 opened #33 "Draft "Contact Us""
This is just a test for the projects

[2020-04-28 23:32] cmatta2 opened #34 "Design Evaluation Metrics for Website Launch"
Hi Lucas,
If this helps, I created an issue. Feel free to let us know what we need to do - and assign it to us.

[2020-04-28 23:37] cmatta2 commented on #24
@mfeif
Would it help if we add the templates for the "About Us", "What comes next" and "Contact us" **here?**
or Create separate issues for them (just did)?

[2020-04-29 19:19] mfeif commented on #24
I think the content/writing is sufficiently distinct from this one, which is about tech and software, so I think you made the right call. Thanks!

[2020-04-29 20:19] mfeif opened #35 "Collection of nits/feedback about "new initiative form""
The form currently lives at:
Sustain Care > SC - Technical Model > SC - Unpublished Forms

**Note: For TESTING the form, as Preston said, if your email is a Gmail, you can add "stuff" into your address transparently like this:** from my.email@gmail.com to my.email+testing_sc_form01@gmail.com. Emails will still go to the normal place. This is a feature of Gmail, not our form, and would work in the

[2020-04-29 20:19] mfeif commented on #35
@prestonaustin Since we are collecting some data that we aren't publishing, I want to consider those things "private" and be careful about them. So I won't be able to check the URL into source code. Do you have a favorite way of handling secrets for things like this. I know of several, might as well pick one that two of us grok.

[2020-04-29 20:52] mfeif commented on #35
@prestonaustin if we change the wording in the form, is that going to break where the data gets dumped (since the columns are effectively "named" by the questions?

Also, it seems like the order is weird. I just tested it out, put in two "institutions" and it put them in the front and the last "set" of institutions. It may not matter, but maybe it does?

[2020-04-30 02:04] mfeif opened #36 "Need tags to filter initiatives"
A small tight taxonomy of tags/categories associated with initiatives.

For example, "foodpantry" or "hospital" or "vegetables"

[2020-04-30 22:08] prestonaustin commented on #35
Thanks for the review @mfeif

Something had rearranged and partly duplicated sections of the form, that's now fixed.

Keeping the data private involves having a secret key that is required to render the site, and insuring that the .gitignore excludes any temporary files the static source code generator creates that include secrets not rendered into the web pages.

Things were sufficiently weird th

[2020-04-30 22:09] prestonaustin commented on #35
Happy to do more here, please just make a new note any items and reassign the issue back to me.

[2020-04-30 22:10] prestonaustin commented on #36
I put a few in the form, we can just see what people suggest, closing this for now until they do.

[2020-04-30 22:10] #36 closed

[2020-04-30 22:14] mfeif commented on #24
Just for the record, site is now live at https://sustain-care.org/ and the repo has all my current working code.

Still need to document the contribution / build process some.

[2020-04-30 22:18] mfeif commented on #35
I had already named row 2 before. Oh welp.

Thanks for the other fixes!

[2020-04-30 22:19] prestonaustin commented on #4
Closing pending future clarification of what we are asking of what suppliers, based on registered projects.

[2020-04-30 22:19] #4 closed

[2020-04-30 22:19] prestonaustin commented on #3
Closing pending future clarification of what we are asking of what suppliers, based on registered projects.

[2020-04-30 22:19] #3 closed

[2020-05-01 19:51] wrolson22 commented on #33
This has been created on the SC google drive folder under "Contact Page." @DonG-D-MSN to review since he is the point of contact. Comments are listed on the page.

[2020-05-01 19:55] wrolson22 opened #37 "**Cards**"
Cards can be added to your board to track the progress of issues and pull requests. You can also add note cards, like this one!

[2020-05-01 20:03] wrolson22 opened #38 "Help with this"
Trial

[2020-05-01 20:03] #37 closed

[2020-05-01 20:08] #38 closed

[2020-05-01 21:31] mfeif opened #39 "Adding an initiative currently requires a Google Account"
This might discourage people.

There might be a good reason for it. I'm assigning this to Preston to get his input.

[2020-05-01 22:09] prestonaustin commented on #39
We can't accept images without this, so it's the simplest option. I agree its an arbitrary filter and ideally I wouldn't require an account, just an email that looks like an email.

[2020-05-01 22:11] mfeif commented on #39
It *DOES* require an account, not an email that looks like an email.

If you [open the link](https://docs.google.com/forms/d/e/1FAIpQLScxHg2gCziN-8D1IM3Uz8Q26twcyTwLExwDqvuy71VYjT5MNw/viewform?usp=sf_link) without a logged-in google account (say a private window) you'll see.

[2020-05-01 22:19] prestonaustin commented on #33
So, the easiest way to handle review would be to check in the draft here in github, and request a review, as that's trackable in here. I'm happy to show how that works, just reach out. I'll make an example that proposes to close this issue.

[2020-05-01 22:33] prestonaustin commented on #33
Here's how I created the above open pull request to close this issue with a deliverable, and assigned it to @cmatta2 for review:

ON THE MAIN SUSTAIN-CARE.ORG GITHUB PAGE, CREATE NEW FILE:
<img width="124" alt="Screen Shot 2020-05-01 at 5 27 59 PM" src="https://user-images.githubusercontent.com/50559/80846210-25fd3b80-8bd1-11ea-9b9a-5bf948227afd.png">

THAT GETS YOU THIS, I ADDED A DIRECTORY AND T

[2020-05-01 23:01] prestonaustin commented on #39
Yes, it does precisely what I said it does for the reason I stated.

I've removed the file uploads from the form, and changed the email address request to a plain item not a google managed email request. It's now pretty limited in what it offers, but it meets the new requirement you've created of not requiring a login with google and minimized the contact with google to the form itself.

The prior

[2020-05-01 23:01] #39 closed

[2020-05-01 23:13] prestonaustin commented on #35
I assume you want your row of data, which I did not destroy, and could simply provide you on request. Next time, just ask if you want it, or say nothing if you don't.

Probably these column positions will not correspond to the current form, or the version with file uploads still enabled, because of significant structural edits in the form.

https://docs.google.com/spreadsheets/d/19HNSGX5MMbWpVHrWf

[2020-05-02 00:43] mfeif commented on #39
I think we got our wires crossed there. I wasn't adding a requirement, I was asking a question. You've used this stack before to do this exact thing, I was asking for your advice/recommendation.

I also labeled this "won't fix" and closed the issue.

We will need images; I'm reverting to your prior version and following your instructions to do so.

[2020-05-02 20:25] cmatta2 commented on #31
**We are a group of concerned citizens with expertise in a number of relevant fields such as: food service,public health, project development and tech. We came together when we saw the emergence of loosely connected initiatives to address the complementary needs of food systems and caregivers in the wake of the pandemic. Our starting point is to bring some connection to the great work already happ

[2020-05-02 20:25] #31 closed

[2020-05-02 20:31] cmatta2 commented on #34
@prestonaustin Could you add Lucas to Github so I can assign this to him? **lbhill**
I tried to, but dont think I can

[2020-05-02 20:36] cmatta2 commented on #9
Created a template here if this is what we need.

https://docs.google.com/document/d/1JysJ2qalCzfsETdZHiQQph4zt2xoHtctShSu7JT4tjM/edit

[2020-05-02 20:36] #9 closed

[2020-05-02 20:37] cmatta2 commented on #8
Done.

[2020-05-02 20:37] #8 closed

[2020-05-02 20:38] DonG-D-MSN commented on #25
I e-mailed April Yancer <april.yancer@wisconsin.gov> (works for DATCP and is the Farm to Institution and Wisconsin Food Specialist) on April 23rd. I have received no response. I opened a new issue - Outreach and moved April's name there for future follow-up.

[2020-05-02 20:39] mfeif commented on #5
I'll close this for now. I think it's in the "would be nice" category, but shouldn't hold up launch of the site or our outreach.

I'm sure we'll think of it again after we're running a bit.

[2020-05-02 20:39] #5 closed

[2020-05-02 20:39] cmatta2 commented on #6
Completed with @DonG-D-MSN

[2020-05-02 20:39] #6 closed

[2020-05-02 20:43] DonG-D-MSN opened #41 "Outreach"
Outreach about Sustain Care (running list):

- April Yancer <april.yancer@wisconsin.gov> - works for DATCP and is the Farm to Institution and Wisconsin Food Specialist
- e-mailed 4/23/20 - no reply

- Lisa Loup <LLoup@foodfightinc.com>
- e-mailed 4/13 and 4/16/20 -  no reply

[2020-05-02 20:47] cmatta2 commented on #7
Drafted and delivered to website team

[2020-05-02 20:47] #7 closed

[2020-05-02 20:47] #25 closed

[2020-05-02 20:49] cmatta2 commented on #16
Compiled

[2020-05-02 20:49] #16 closed

[2020-05-02 20:50] cmatta2 commented on #10
https://docs.google.com/document/d/1JysJ2qalCzfsETdZHiQQph4zt2xoHtctShSu7JT4tjM/edit

This is the link to the drafted Thank you, it is a very brief one. Let me know if I need to reopen.

[2020-05-02 20:50] #10 closed

[2020-05-02 21:07] cmatta2 opened #42 "Test the Initiative Registry Form"
Add an Initiative to the initiative capture form

[2020-05-02 21:18] cmatta2 commented on #42
Link of the form is in the "Slack - Technical Model"

[2020-05-02 21:18] DonG-D-MSN opened #43 "Map the GoogleDrive work space"
Create a conceptual map of the work space to make workflows more efficient

[2020-05-02 21:22] #17 closed

[2020-05-02 21:22] #15 closed

[2020-05-02 21:28] ramlyed commented on #41
#test header MD
## test subheader MD

[2020-05-02 21:31] #41 closed

[2020-05-02 21:40] ramlyed opened #44 "Rubric to evaluate initiatives to prioritize funding initiatives"
Propose criteria/considerations in a rubric to help us evaluate initiative and decide how to prioritize funding initiatives.

[2020-05-02 21:40] ramlyed commented on #44
@cmatta2 Assign to Lucas

[2020-05-02 21:44] #27 closed

[2020-05-02 21:47] ramlyed opened #45 "Reach out to Morris Ramen -led initiative"

[2020-05-02 21:47] ramlyed opened #46 "Reach out to REAP led initiative"

[2020-05-02 21:47] ramlyed opened #47 "Reach out to initiative - 3"

[2020-05-02 21:48] ramlyed opened #48 "Reach out to FEED to Go initiative"

[2020-05-02 21:48] ramlyed opened #49 "Reach out to initiative - 5"

[2020-05-02 21:49] mfeif commented on #17
@jchuran Do you think we should take it off, declare it as "iffy", or just let people make their own determination of that as they view?

[2020-05-02 21:50] ramlyed opened #50 "Propose short list of 5 initiatives to reach out"

[2020-05-02 21:52] ramlyed commented on #50
@wrolson22 will help with ideas

[2020-05-02 21:54] ramlyed opened #51 "Approve "Contact Us" page"

[2020-05-02 22:15] prestonaustin commented on #34
[Manage Access](https://github.com/therabble/sustain-care.org/settings/access) <--Should work for you now @cmatta2

I've invited Lucase, he can accept by navigating to https://github.com/therabble/sustain-care.org if the invite doesn't show up in email or isn't obvious what to do.

[2020-05-02 22:22] #33 closed

[2020-05-02 22:30] prestonaustin commented on #33
@cmatta2  - adding a comment to a closed issue here for you just to show how the fake review closed it out. You can reopen this issue if you want to still use it for a real contact us review that isn't done yet :)

IN RECEIPT OF YOUR FAKE REVIEW APPROVING MY CHANGES, I MERGED THEM TO MASTER AND CLOSED THE PR AND DELETED IT, WHICH CLOSED THE ISSUE ABOVE, LIKE SO...

OVER ON THE PR https://github.co

[2020-05-03 18:30] mfeif commented on #50
So this might be obvious to all but I'd like to propose some guidelines to how we choose. Just my opinion here, (represent no particular hierarchy though they are ordered) and I am open to what I may have overlooked:

1. Projects that have some sufficient scale/momentum.
2. that embody values we have. For FoodWorks, this needs to include social equity in some measure to be in accordance with our t

[2020-05-05 04:10] wrolson22 commented on #50
This is a great list. I agree, like you said, there is no way to tick all of these for every case, but are there three main checks that they absolutely have to tick in order for us to consider further? This may be a good way of self vetting so we don't get a bunch of random stuff we have to sift through.

That is likely just a problem down the road but may be good to get into place up front. I thi

[2020-05-05 04:16] wrolson22 commented on #51
Don, this can be found on the SC google drive in "SC - Website Pages" titled "Contact Page:..."

I just need your approval since you will be the one to be contacted. I tired to be semi-specific on what to contact about but at first, I'm guessing we will get many general inquiries.

Let me know if you have questions. Thanks!

[2020-05-05 04:23] wrolson22 commented on #42
@mfeif , I tried to go to the form and test it out but it says it is no longer accepting responses. I also saw there were zero recorded responses on the form. Is there a updated form you would like us to use? Just want to make sure I am not missing something.

[2020-05-05 14:43] jchuran commented on #42
@mfeif , I may have gone too far, but I activated the google form and sent out links to the other assignees in this issue.  I entered made up info into the form and didn't have any issues.  Hopefully you can take a look at what it looks like on the back end.

My only critic was that the paragraph explaining "Your Fundraising Addresses" was written in a way that was confusing for me to comprehend.

[2020-05-05 14:58] jchuran commented on #50
I would propose:
1. REAP Food Group
2. Little John's - Dave H's project

It would be nice to get to our goal of helping more small independent places.  The Morris Ramen initiative come to mind.  It would be great to get some places that are out of our network.

[2020-05-05 16:36] mfeif commented on #50
@wrolson22 Good prioritization; I agree. I've re-ordered the list as-such. I don't think we'll have too difficult a time getting started, though we indeed might get some not-so-serious entries down the road. I expect we're mostly in alignment with one another here.

@jchuran I think those two are on my informal list of favorites too, so let's maybe consider them  the beginning of our first winners

[2020-05-05 16:59] mfeif commented on #29
Leaving these nuggets here, results of some light research on the matter:

- [Better Business Bureau](https://www.bbb.org/article/news-releases/21390-bbb-tip-writing-an-effective-privacy-policy-for-your-small-business-website) on the subject
- A [Privacy Policy generator](https://www.freeprivacypolicy.com/free-privacy-policy-generator/) that looks reasonably professional and not spammy. Does cost

[2020-05-05 17:31] mfeif commented on #42
Sorry @wrolson22, I didn't see that you tagged me. I'm not sure where those notifications are going. Probably email hell; I'll make sure they don't get filtered.

I'm not sure what you saw; it's possible you tried to fill in the form in editable mode; I made an edit in the Slack message about that to help others. This [link is for actually filling in the form itself](https://docs.google.com/forms/

[2020-05-05 17:37] mfeif commented on #51
I know this is vague, but I'd like to see "more". We'll have alot of people who may want to get in touch who might need a bit of hand-holding. Perhaps we can have a slightly fleshed-out version of the [copy on the home page](https://sustain-care.org/)? (clipped below, would need to be edited for appropriateness):

[2020-05-05 17:52] jchuran commented on #50
@mfeif Sorry, I may be confused.  Are we coming up with a list of 5 initiatives or a list of 5 criteria an initiative must meet?

[2020-05-05 17:57] mfeif opened #53 "Add "press coverage" links to initiative capture form"
Reading about what one of our likely "model initiatives" (see #50) in the [news today](https://isthmus.com/food-drink/noodles-anew/), it occurred to me that other initiatives/projects might like to refer potential donors to their good press; it would perhaps be easier for them to "show" what they've been doing than to write up copy to "tell" us about it. Or both, of course.

Can we have a form cap

[2020-05-05 18:16] mfeif commented on #50
Sorry @jchuran yes, I've been unclear.

We are coming up with 5 "projects/initiatives". I just wanted to put in here some notion of how we choose. I'm **super comfy** starting the list here:

1. REAP Food Group: [Farms to Families](http://reapfoodgroup.org/farms-to-families/)
1. Little John's: [Need More Info](https://littlejohnsrestaurant.com/donate)
1. Morris Ramen / Goodman Center
1. ?
1. ?

An

[2020-05-05 18:21] mfeif commented on #44
There's some light discussion "near" to this topic over on #50, fyi.

[2020-05-07 00:14] prestonaustin opened #54 "List Minimum Necessary Set of Important Website Privacy Policy Concerns"
Enumerate a proper minimized set of Sustain Care values and Foodworks mission consistent privacy concerns in https://github.com/therabble/sustain-care.org/blob/master/policy/privacy_concerns.md

[2020-05-07 00:25] prestonaustin commented on #53
I'm thinking this form is too long, and we should instead use google alerts ourselves to discover coverage, and follow up with contacts in a secondary process to solicit information about coverage. I see why we want it but I don't think we should change this form to gather it at this time, until we have good proof via tests we are on the right track with it as is.

In a technical sense, Matt, I do

[2020-05-07 00:25] #53 closed

[2020-05-07 17:01] DonG-D-MSN commented on #51
See what you think, Matt: [https://docs.google.com/document/d/1zy4A6vf018MOj_qqsG5DzasKxtVt2w6MPa6UM4Yhup8/edit#](url)

[2020-05-07 18:36] cmatta2 commented on #44
Assigned now to Lucas

[2020-05-07 18:38] #29 closed

[2020-05-07 18:38] #54 closed

[2020-05-07 19:49] lbhill commented on #44
When do you need it by? Started something here: https://docs.google.com/spreadsheets/d/1FIeJYrYdtEzRRWVjwV5jwC48sPMCSq6tAik_L5Z_vdo/edit?usp=sharing. Other major criteria to add? Feel free to add, delete, modify.

[2020-05-08 02:05] wrolson22 commented on #50
Feed a hero, help save a restaurant. Launched by the Madison Area Chef's Network. Looks like they are doing well on go fund me but they will run out of funds eventually. The others look good too!

https://www.gofundme.com/f/help-a-hero-save-a-restaurant?utm_source=facebook&utm_medium=social&utm_campaign=p_cp%20share-sheet&fbclid=IwAR27j2qwhXkvTNf1vWnzndtBpgaZgVfP2gt0nyOH26m-Xhv2ad3Xg0vGbVo

[2020-05-08 02:33] wrolson22 commented on #42
I just went through and tried responding to each comment with a real project but didn't send it through with the information just to protect that project's ideas and all. With that, I think the information asked is great. Just a few comments:

- How formal/informal do we want to be on the submission page? I feel that a couple of the sub comments were a little informal such as "optional, won’t be p

[2020-05-08 15:52] prestonaustin commented on #42
@wrolson22 Happy to go in and reword, but I think we should launch with the forum as is almost regardless of what feedback we develop, and then act on our feedback in context of a live implement that is being used by people who aren't participants in our team process.

To directly address the feedback though, I think you are absolutely correct. I think the voice is potentially off putting for peop

[2020-05-08 17:41] mfeif commented on #42
I hear that sentiment, and I agree. It's in my nature to be a little too cautious.

I do think having the feedback is still good, so it can be "registered" and we can loop back to it after our minimal published thing is live.

Thanks both. And thanks for testing, Will.

[2020-05-12 19:24] mfeif commented on #50
I'm trying to learn more about the Feed a Hero project; I reached out to Chef Miller, but haven't heard back yet. I'm looking for some detail about the service itself rather than just the funding.

I talked to Morris Ramen again; they are ideal, and are not delivering also to the Bayview Food Pantry, which serves a lot of Asian-American people and Asian immigrants. Morris is able to produce cultur

[2020-05-12 22:20] #51 closed

[2020-05-12 22:40] #32 closed

[2020-05-12 22:41] mfeif commented on #24
Marking this as complete, as we have the templates made and working.

I will make a new issue for documenting the build process, as that won't hold up launch.

[2020-05-12 22:41] #24 closed

[2020-05-12 23:07] mfeif commented on #50
Unless anyone objects to the list above, and pending @wrolson22 's suggestion as a possible #6, I will mark this done.

[2020-05-12 23:07] #50 closed

[2020-05-12 23:11] mfeif commented on #47
https://littlejohnsrestaurant.com/donate

[2020-05-12 23:12] mfeif commented on #46
http://reapfoodgroup.org/farms-to-families/

[2020-05-12 23:14] mfeif commented on #48
https://feedkitchens.org/feedtogo/

Likely contact is: Abha, here: https://northsideplanningcouncil.org/dt_team/abha-thakkar/

[2020-05-12 23:15] mfeif commented on #49
https://www.facebook.com/donate/581919339319749/10217094293456084/

Likely contact is Brandi Grayson.

[2020-05-12 23:15] #42 closed

[2020-05-13 16:39] mfeif commented on #45
The data is in. It has a number of issues, including some typos and has revealed a couple of user-flow issues in the form. I'll convo with @prestonaustin about those latter.

I think that it will be ok to just edit the data in the spreadsheet, but again, I need to check with @prestonaustin

FWIW, Francesca said that using the site/form was easy, and she had no problems.

[2020-05-13 16:42] mfeif opened #56 "Add basic analytics services to site"
I know that @prestonaustin has some informed opinions on the best way forward here.

The MVP code is in the "mvp-site" branch, but analytics can be pushed to master, too. I'll need to do a merge at some point, I'll make a new issue about that.

[2020-05-13 16:42] mfeif opened #57 "move "mvp" site branch to master, and make "new features" branch for new stuff"

[2020-05-13 21:55] #57 closed

[2020-05-13 21:56] mfeif commented on #45
I edited the data in the sheet, and nothing blew up.

The description could use a little jazzing up, but it's up, and it's fine for now. Closing.

[2020-05-13 21:56] #45 closed

[2020-05-14 02:50] mfeif opened #59 "metadata to facilitate sharing on social media"
The nasty bits in the HTML that help for sharing.

Will likely need a badge/image too. TBD.

[2020-05-14 03:52] mfeif commented on #18
Don't need a landing page the /donate/ url works!

[2020-05-14 03:52] #18 closed

[2020-05-14 03:52] #11 closed

[2020-05-14 22:24] mfeif commented on #46
Sent an email to Mariela, who I met years ago in my Slow Food work.

[2020-05-14 22:25] mfeif commented on #47
Sent Dave a facebook message (which is how we've communicated in the past.

[2020-05-14 22:49] mfeif commented on #48
Done. Talked with Abha, she's filling in the form.

[2020-05-14 22:49] #48 closed

[2020-05-15 00:27] mfeif commented on #59
Have a rough first go in there, but it'd be better if it changed per-page to make sharing of leaf initiative pages work better.

[2020-05-19 18:37] mfeif commented on #49
Pinged Brandi last week, again today. Will keep on it.

[2020-05-19 18:38] mfeif commented on #47
Have heard from Dave, he hasn't entered data yet. I pinged him again today.

[2020-05-19 18:38] mfeif commented on #46
Am trying a different vector; via Helen, the ED of REAP. Sent a message today.

[2020-05-21 15:25] mfeif commented on #47
Dave's data is in there, but it needs a little work. I've asked him if I can cut-n-paste material from his public facebook posts about his work, he's agreed.

[2020-05-21 15:25] mfeif commented on #46
Their data is in. It looks good; closing this

[2020-05-21 15:25] #46 closed